body::before {
    font-weight: normal;
    display: block;
    text-align: center;
    background: rgba(242, 242, 13, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    font-size: 14px
}

@media (min-width: 0px) and (max-width:479px) {
    body::before {
        content:"SMALL MOBILE 480";
        background: rgba(242, 242, 13, 0.75)
    }
}

@media (min-width: 480px) and (max-width:767px) {
    body::before {
        content:"MEDIUM MOBILE 768";
        background: rgba(32, 223, 32, 0.5)
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    body::before {
        content:"MEDIUM TABLET 1024";
        background: rgba(32, 223, 32, 0.7)
    }
}

@media (min-width: 1024px) and (max-width:1279px){
    body::before {
        content:"LARGE DESKTOP 1280";
        background: rgba(25, 230, 162, 0.9)
    }
}

@media (min-width: 1280px) and (max-width:1439px){
    body::before {
        content:"LARGE DESKTOP 1440";
        background: rgba(25, 20, 62, 0.9)
    }
}

@media (min-width: 1440px){
    body::before {
        content:"XLARGE DESKTOP/TV";
        background: rgb(255, 0, 0)
    }
}